[submodule "products-list/src/main/protobuf"]
	path = products-list/src/main/protobuf
	url = git@github.com:zeroberto/products-store-proto.git
	branch = master
[submodule "products-list-endpoint/protobuf"]
	path = products-list-endpoint/protobuf
	url = git@github.com:zeroberto/products-store-proto.git
	branch = master
[submodule "users-data/protobuf"]
	path = users-data/protobuf
	url = git@github.com:zeroberto/products-store-proto.git
	branch = master
